<div class="flex justify-between">
  <h1 class="text-2xl font-bold">
    Account Details
  </h1>
  <p class="text-l font-bold">Account Number: <%= @account.account_number %></p>
  <p class="text-l font-bold">Balance: <%= number_to_currency(@balance) %></p>
  <%= link_to 'Transfer Funds', new_transfer_account_path, class: "bg-blue-500 hover:bg-blue-700 text-white py-2 px-2 rounded" %>
</div>

<div class="mt-4">
  <h4 class="font-medium text-gray-700 text-xl">Transactions</h4>
  <div id="transactions" class="flex flex-col divide-y divide-gray-200">
      <%= render @transactions %>
  </div>
</div>
